<html>
<head>
<title>SQL injection/XSS demo</title>
<style>
body,input[type=button] {
    font-family: 'Berlin Sans FB', Helvetica, Arial, sans-serif;
    background-color: #c0c0ff;
    color: black;
}
</style>
</head>
<body>
<p><img src="hittastic.png" alt="HitTastic! logo" /></p>
</p>
<h1>HitTastic!</h1>
<p>Search and shop for your favourite top 40 hits on HitTastic! Whether it's pop, rock, rap or pure liquid cheese you're into, you can be sure to find it on HitTastic! With the full range of top 40 hits since 1952 on our database, you can guarantee you'll fund what you're looking for in stock. Plus, with our Year Search find out exactly what was in the chart in any year. </p>
<%-msg%>
</body>
</html>
