<!DOCTYPE html>
<html>
<head>
<title>Bogweed Marketing Ltd</title>
<style>
body {
    font-family: Helvetica, Arial, sans-serif;
    background-color: #c0ffff;
}

a {
    text-decoration: none;
}
</style>
</head>
<body>
HAHAHAHA us at Bogweed Marketing, incorporating Devious Insurance Ltd. and a division of International Drug Dealers plc, have your credit card !!!! <%=creditcard%>
</body>
</html>
